#conteneur_svg svg{
	align:center;
}

svg{
	display:block;
	margin:auto;
}

.cercle{
	fill:red;
	stroke:#0a3984;
	stroke-width:5px;
	transform-origin:center;
}

.ellipse{
	fill:#66ff00;
	stroke:#0a3984;
	stroke-width:5px;
	transform-origin:center;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotation {;
  animation: rotation 2s linear infinite;
}