#conteneur_svg svg{
	align:center;
}

svg{
	display:block;
	margin:auto;
}

.cercle{
	fill:red;
	stroke:#0a3984;
	stroke-width:5px;
	transform-origin:center;
	animation: contour 2s linear;
}

.ellipse{
	fill:#66ff00;
	stroke:#0a3984;
	stroke-width:5px;
	stroke-dasharray:300;
	transform-origin:center;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
    stroke-dashoffset:300;
  }
  to {
    transform: rotate(360deg);
    stroke-dashoffset:-300;
  }
}
.rotation {;
  animation: rotation 3s linear infinite;
}